*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-bg: #202122;
    --body-bg: #e3e8ea;
}

.layout {
    display: flex;
    height: 100vh;
    width: 100vw;

    & > main{
        flex: 1;
        background-color: var(--body-bg);
        position: relative;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 820px) 1fr;

        & .hamburger.nav{
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            display: block;
            cursor: pointer;
            font-size: 2.5rem;
            padding: .5rem;

            &.hide{
                display: none;
            }
        }

        & section {
            padding: 2rem;
            min-height: 100vh;

            & article {
                margin-top: 4rem;

                & header {
                    margin-bottom: 4rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    & small {
                        padding: .5rem;
                        background-color: #38393a;
                        width: fit-content;
                        color: white;
                        border-radius: 8px;
                    }
                    & h1 {font-size: 2.5rem;}
                }
            }

        }

    }
}

aside.sidebar{
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1.5rem;
    height: 100%;
    background-color: var(--sidebar-bg);
    overflow: hidden;
    transition: all .75s ease-in-out;

    &.hide{
        width: 0;
    }

    & .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        padding: 1.5rem;

        & .hamburger{
            cursor: pointer;
            font-size: 2.5rem;
            padding: .5rem;
            color: white;

            &:hover{
                background-color: rgb(44, 44, 44);
                border-radius: 100%;
            }
        }

        & a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: 1rem;
        }

    }

    & nav{
        height: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & a {
            text-decoration: none;
            color: white;
        }
    }

    & .footer {
        padding: 1.5rem;
    }

}